*{
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color:#F5F5F5!important;
  font-family:"ProximaNovaNormal";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navicon{
  fill: currentColor;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  font-size: 28px!important;
}

.activecolor{
  color:#159D74;
}

.nonactivecolor{
  color:#5C5C5C
}

.background-activeicon{
  background-color: #159D74;
}

.MuiList-padding{
  margin-top: 28px!important;
}

.MuiListItem-root{
  padding-top: 11px!important;
  padding-bottom: 11px!important;
}

.MuiPopover-paper{
  top:30!important;
}

.tableBold{
  font-weight: 600!important;
  font-family:"ProximaNovaBold"!important;
  font-size: 15px!important;
}

.tableNormal{
  font-style: normal!important;
  font-weight: normal!important;
  font-size: 15px!important;
  line-height: 18px!important;
  color: rgba(0, 0, 0, 0.40)!important;
  font-family:"ProximaNovaNormal"!important;
}

.Mui-disabled{
  text-transform: capitalize!important;
}

.MuiInputBase-formControl .MuiOutlinedInput-input{
  background-color: white;
}

.contenedorColumna{
  display: flex;
  flex-direction: column;
}

.pointer{
  cursor:pointer;
  transition: all .5s;
}

.pointer:hover{
  box-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
  background: rgba(238, 238, 238, 0.76);
}

.capitalize{
  text-transform: capitalize!important;
}

.logo{
  font-size: 25px!important;
  width: 200px!important;
  height: 10px!important;
}

.MuiInput-underline::before{
  border-bottom: none!important;
  cursor:none;
} 

.MuiInput-underline::after{
  border-bottom: none!important;
  cursor:none;
} 

button.mercadopago-button {
  background-color: #159D74;
  color: white;
  padding: 5px 60px;
  border-radius: 2;
  text-transform: none;
  width: 100%
}

/* -----Scrollbar----- */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: background-color 0.4s ease-in; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #acb8bb;
}

/* ------------------- */

.loading{
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100%;
}

.loadingAbs{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.tittle{
  text-align: left;
  font-family: "ProximaNovaNormal";
}


.MuiFormHelperText-root{
  background-color: #f5f5f5;
  margin: 0!important;
  padding: 2px 14px;
}

.MuiListItemIcon-root {
  min-width: 42px!important;
}

/* FUENTES Y SIZES */

.activesize{
  font-family: "ProximaNovaNormal";
  font-weight: 600!important;
  line-height: 30px;
}

.font{
  font-family: "ProximaNovaNormal";
  color: #5C5C5C;
  font-size:16px;
  line-height: 30px;
}

.spanTitleGrey{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 6px ;
  color:rgba(0, 0, 0, 0.45);
  font-size: 15px;
  font-family:"ProximaNovaNormal";
}

.spanTitle{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 6px ;
  font-size: 15px;
  font-family:"ProximaNovaNormal";
}

.spanNormal{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 6px ;
  font-family:"ProximaNovaNormal";
  font-size: 16px;
  line-height: 20px;
}

.cantidadObject{
  font-size: 16px;
  margin-right: 10px;
  font-family:"ProximaNovaNormal";
  color: rgba(0, 0, 0, 0.45);
  line-height: 18px;
}

.uppercase{
  text-transform: capitalize;
}


@media (max-width: 768px) {
  .MuiListItemIcon-root {
    min-width: 0px!important;
  }

  .tableBold{
    font-size: 12px!important;
  }

  .tableNormal{
    font-size: 12px!important;
  }
  .spanNormal{
    font-size: 13px!important;
  }

  .spanTitleGrey{
    font-size: 12px!important;
  }

  .spanTitle{
    font-size: 12px!important;
  }
}